:root {
  --main-color: #212121;
  --blue-color:  #2196f3;
  --main-backgroud: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.unstyled-list {
  list-style: none;
}

.link:hover,
.link:focus, .link:active {
  color: var(--blue-color);
}

.logo-first-word,
.logo-second-word {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-first-word {
  color: var(--blue-color);
}

.logo-second-word {
  color: #000000;
}

header li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.header-right-side li a {
  color: #757575;
}

.button-menu:hover,
.button-menu:focus,
.button-menu:active {
  background-color: var(--blue-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

.project-card li img{
    width: 370px;
    height: 294px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-title {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.87;
}

.location {
  color: #ffffff;
  text-decoration: none;
  line-height: 1.87;
}

footer {
  background-color: var(--main-backgroud);
}

.footer-logo-second-word {
  color: #ffffff;
}
